@page "/FestivalDetails/{Id:int}"
@inject NavigationManager navManager
@inherits FestivalSingleBase

<h1>Edit festival</h1>

<body>
    <image src="@Banner" style="width:500px;height:600px;"></image>
    <form method="post">
        <fieldset>
            <div>
                <label for="fName">Festival name:</label>
                <input type="text" name="fName" @bind-value="Festival.Name" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="Description">Description:</label>
                <input type="text" name="Description" @bind-value="Festival.Description" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="Type">Type:</label>
                <input type="text" name="Type" @bind-value="Festival.Type" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="Genre">Genre:</label>
                <input type="text" name="Genre" @bind-value="Festival.Genre" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="AgeCategory">AgeCategory</label>
                <input type="text" name="AgeCategory" @bind-value="Festival.AgeCategory" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="StartDate">StartDate:</label>
                <input type="datetime-local" name="StartDate" @bind-value="Festival.StartDate" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="EndDate">EndDate:</label>
                <input type="datetime-local" name="EndDate" @bind-value="Festival.EndDate" @bind-value:event="onchange" />
            </div>
            <div>
                <label for="MaxTickets">MaxTickets:</label>
                <input type="text" name="MaxTickets" @bind-value="Festival.MaxTickets" @bind-value:event="onchange" />
            </div>
            <div>
                <label>&nbsp;</label>
                <button type="button" @onclick="(async() => await EditFestival())">Submit</button>
            </div>
        </fieldset>
    </form>
    <h3>Statistics:</h3>
    <h5>Tickets Sold: @Statistics.TicketsSold</h5>
    <h5>Tickets Available: @Statistics.TicketsAvailable</h5>
    <h5>Amount of shows: @amountOfShows</h5>
    <h5>Amount of performers: @amountOfPerformers</h5>
</body>
