@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Festivals</PageTitle>

<h1>Festival</h1>

<p>This is a table that shows festival objects</p>

@if (festivals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Type</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>OrganiserName</th>
                <th>TicketsRemaining</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var festival in festivals)
            {
                <tr>
                    <td>@festival.Name</td>
                    <td>@festival.Description</td>
                    <td>@festival.Genre</td>
                    <td>@festival.Type</td>
                    <td>@festival.startDate</td>
                    <td>@festival.endDate</td>
                    <td>@festival.OrganiserName</td>
                    <td>@festival.TicketsRemaining</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Festival[]? festivals;

    protected override async Task OnInitializedAsync()
    {
        festivals = await Http.GetFromJsonAsync<Festival[]>("https://localhost:5001/api/Festival");
    }

    public class Festival
    {
        public int Id { get; set; }
        public int OrganiserId { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public int Genre { get; set; }
        public int Type { get; set; }
        public DateTime? startDate { get; set; }
        public DateTime? endDate { get; set; }
        public string OrganiserName { get; set; }
        public int TicketsRemaining { get; set; }
    }
}
